body {
    font-size: 18pt;
    background-repeat: no-repeat;
    background-size: cover;
}
#row{text-align: center;}

#prevcontent{
    background-color: rgba(255,239,213,0.5);
    min-height: 0px;
    margin-top: 1em;
    background-image: url(../img/prevarrow.png);
    background-size: 4em;
    background-repeat: no-repeat;
    background-position: center;
}
#prevcontent:hover{
    background-color: rgba(255,239,213,0.8);
    min-height: 0px;
    margin-top: 1em;
    height: 100vh;
}

#contentinfo {
    background-color: rgba(255,239,213,0.5);
    min-height: 0px;
    margin-top: 1em;
}

#nextcontent{
    background-color: rgba(255,239,213,0.5);
    min-height: 0px;
    margin-top: 1em;
    background-image: url(../img/nextarrow.png);
    background-size: 4em;
    background-repeat: no-repeat;
    background-position: center;
}

#nextcontent:hover{
    background-color: rgba(255,239,213,0.8);
    min-height: 0px;
    margin-top: 1em;
}



#summonerid{font-size: smaller;}
#Snamelvl{
    font-size: 2.4em;
    color: #ff9c00;
    font-weight: normal;
    font-family: "Adobe Garamond Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}



#sstats{
    font-size: 1.5em;
    font-family: "Gill Sans W04", GillSans, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    line-height: 1.4em;
}

